@font-face {
	font-family: "ABeeZee";
	src: url("fonts/ABeeZee-Regular.ttf");
}

#page-container {
	font-family: ABeeZee, Arial;
	margin: 1em;
	position: relative;
	min-height: 96vh;
}

#header {
	display: flex;
	justify-content: space-between;
	margin-left: 3em;
}

.home {
	font-size: 24px;
	text-decoration: none;
	color: black;
}

.menu {
	display: flex;
	margin-right: 3em;
}

.menu-text {
	float: right;
	margin: 1em;
	text-decoration: none;
	color: black;
	font-size: 20px;
}

.link-text {
	float: right;
	margin: 1em;
	text-decoration: none;
	color: black;
}

#body {
	display: flex;
}

#body > div {
	margin-left: 10em;
}

.body-index {
	display: flex;
	margin-top: 10em;
}
.body-index > div {
	margin: 1em;
}

.home-body {
	font-size: 55px;
}

.project-container {
	display: flex;
	margin: 3em;
	margin-bottom: 5em;
}

.project-container > img {
	width: 300px;
	height: auto;
}

.project-container > div {
	margin-left: 3em;
}

.project-container > div > p {
	font-size: large;
}

.project-img {
	width: 128px;
	height: auto;
}

.images {
	margin: 3em;
}

.image {
	height: 300px;
	width: auto;
	object-fit: cover;
	margin: 0.5em;
	cursor: pointer;
}

.back-to-top {
	display: none;
	position: fixed;
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
}

.back-to-top > img {
	width: 64px;
	height: auto;
}

.back-to-top:hover > img {
	filter: invert(95%);
}

.videos {
	margin: 3em;
}

.video {
	object-fit: cover;
	margin: 0.5em;
}

#footer {
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	width: 96%;
	height: 2.5rem;
}

.footer-menu {
	display: flex;
}